<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
      <!-- google icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <div class="d-flex">
    <header>
      <nav class="d-flex flex-column justify-content-between bg-light vh-100 pt-5">
        <div class="menu">
        <div class="logo pb-4 d-block ps-4">
          <a href="./index.html"><img src="./assets/images/logo-ANSWER.svg" alt="logo">
          </a>
        </div>
        <ul class="list ps-0">
          <li class="list-item pb-4"><a href="#" class="link-dark fw-bold">
            <span class="material-icons">assessment</span>Dashboard
          </a></li>
          <li class="list-item pb-4"><a href="#" class="link-dark fw-bold">
            <span class="material-icons">question_answer</span>Question
          </a></li>
          <li class="list-item pb-4"><a href="#" class="link-dark fw-bold">
            <span class="material-icons">assignment</span>Assignment
          </a></li>
          <li class="list-item pb-4"><a href="#" class="link-dark fw-bold">
            <span class="material-icons">video_library</span>Course
          </a></li>
          <li class="list-item pb-4"><a href="#" class="link-dark fw-bold">
            <span class="material-icons">supervisor_account</span>Admin
          </a></li>
          <li class="list-item pb-4"><a href="#" class="link-dark fw-bold">
            <span class="material-icons pl">settings</span>Settings
          </a></li>
        </ul>
        </div>
        <div class="user d-flex d-block ps-4">
          <img src="./assets/images/andychen.jpeg" alt="andychen" class="user-pic rounded-circle">
          <ul class="name ps-3">
            <li class="fw-bold">Andy Chen</li>
            <li class="text-secondary fs-7">andy0401@mail.com</li>
          </ul>
        </div>
      </nav>
    </header>

    <%- contents %>

    </div>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>